.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules
#######
source/_posts/private/*
source/_posts_private
article
*.~
*.swp
*.swo
