<section>
<h1>Category</h1>
<ul>
    <li>
    <a href="https://guori12321.github.com/blog/categories/sheng-huo-jian-ying/">生活剪影</a>
    </li>
    <li>
    <a href="https://guori12321.github.com/blog/categories/xue-xi-bi-ji/">学习笔记</a>
    </li>
    <li>
    <a href="https://guori12321.github.com/blog/categories/lu-tu-fen-xiang/">旅途分享</a>
    </li>
    <li>
    <a href="https://guori12321.github.com/blog/categories/shu-ping-ying-ping/">书评影评</a>
    </li>
    <li>
    <a href="https://guori12321.github.com/blog/categories/ge-chong-zhe-teng/">各种折腾</a>
    </li>
</ul>
</section>
